#formSubmitButton {
    width: 100px;
    height: 30px;
    border-radius: 12px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

#formSubmitButton:hover {
    background-color: gray;
}

.formSelect {
    width: 200px;
    text-align: center;
}

#mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    gap: 10px;
}

#imgDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: solid;
    border-color: white;
    border-radius: 40px;
}

.img {
    object-fit: cover;
    width: 800px;
    height: 800px;
}

.optionDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 340px;
}

.optionLabel {
    color: white;
    font-size: 20px;
}

#solRange {
    width: 200px;
    background-color: red;
    cursor: pointer;
}

#solValueDiv {
    display: inline-block;
    background-color: gray;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    margin-left: 14px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}