#infoTemplate-MainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    border: solid;
    border-color: white;
    border-radius: 40px;
    padding: 10px;
    color: white;
    width: 900px;
}

#infoTemplate-HeaderDiv {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

#infoTemplate-Icon {
    width: 80px;
}